http:
  routers:
    # HTTP router
    node-api-http:
      rule: "Host(`nodeapi.monitor.bigzee.app`)"
      service: node-api
      entryPoints:
        - web
      middlewares:
        - redirect-to-https

    # HTTPS router
    node-api:
      rule: "Host(`nodeapi.monitor.bigzee.app`)"
      service: node-api
      entryPoints:
        - websecure
      tls:
        certResolver: cloudflare

middlewares:
  redirect-to-https:
    redirectScheme:
      scheme: https
      permanent: true

services:
  node-api:
    loadBalancer:
      servers:
        - url: "http://host.docker.internal:3000"
